---
blockTitle: Quick Start
date: 2000-01-01
---
<div class="icon">{%- include assets/images/jitsi-logo.svg -%}</div>
<h3>Quick Start</h3>
  <h4>JitsiMeet-App installieren</h4>
  <h4>Technischer • Punkt als Server-Url einstellen</h4>
    <div class="row row-equal-height row-nowrap">
      <div class="col col-2">
        <figure>
          <a href="/assets/images/jitsi-meet-install-1.png"><img class="thumbnail" src="/assets/images/jitsi-meet-install-1.png" alt="jitsi meet einstellen - Schritt 1"></a>
          <figcaption>1.&nbsp;Einstellungen in der JitsiMeet-App öffen</figcaption>
        </figure>
      </div>
      <div class="col col-2">
        <figure>
          <a href="/assets/images/jitsi-meet-install-2.png"><img class="thumbnail" src="/assets/images/jitsi-meet-install-2.png" alt="jitsi meet einstellen - Schritt 2"></a>
          <figcaption>2.&nbsp;<code>https://jitsi.technischerpunkt.org/</code> als "Server-Url" eingeben</figcaption>
        </figure>
      </div>
    </div>
</ol>
