.block {
  padding: 2rem 2rem 2rem;
  background-color: white;
  height: 100%;

  &::first-letter {
    color: $brand-color;
  }

  a {
    color: $brand-color;
  }

  &-section {
    text-align: center;
    padding-bottom: 1.3rem;
    padding-top: 4rem;
    text-transform: uppercase;
    background-color: transparent;

    h2 {
      margin-bottom: 0.5rem;
    }
  }
}
