.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: .7rem 1rem;
  display: block;
  text-align: center;
  color: white;
  background-color: $brand-color;
  border: 0.2rem solid $brand-color;

  &:focus,
  &:hover {
    filter: saturate(140%);
    text-decoration: none;
    color: white;
  }

  &:active {
    color: $brand-color;
    background-color: white;
  }


}


