.switch {
  position: relative;

  padding-top: 2rem;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }

  &-input {
    display: none;
  }

  &-label {
    color: #444;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;

    & ~ & {
      left: 4rem;
    }

    @include media-breakpoint-up(md) {
      left: auto;
      right: 0;
      & ~ & {
        left: auto;
        right: 4rem;
      }
    }
  }

  &-content {
    display: none;
    position: relative;
  }

  &-input:checked + &-label {
    color: $brand-color;
  }

  &-input:checked + &-label + &-content {
    display: initial;
  }
}


