<footer class="footer">
<div class="container">
  <div class="row row-centered">
    <div class="col">
      <a class="nav-link" href="/datenschutz">Datenschutz</a>
    </div>
    <div class="col">
      <a class="nav-link" href="/impressum">Impressum</a>
    </div>
  </div>
</div>
</footer>
