<header class="header">
  <div class="container">
    <div class="row row-centered">

      <div class="col col-min">
        <div class="logo mb-20">
          <a href="/" title="Technischer Punkt">
            {%- include assets/images/technical-point-logo.min.svg -%}
          </a>
        </div>
      </div>

      <div class="col">
        <h1 class="page-title mb-10">Technischer<span> • </span>Punkt</h1>
      </div>

      <div class="col">
        <a class="button button-primary mb-10" href="https://jitsi.technischerpunkt.org">Video-Chat starten</a>
      </div>
    </div>
    <div class="col col-width">
      <p class="tagline">
        Videokonferenzen für progressive Bewegungen
      </p>
    </div>
  </div>
</header>
